html * {
    margin: 0;
    /*padding: 0; SELECT NOT DISPLAYED CORRECTLY IN FIREFOX*/
}

body {
	background-color:#C6C3C6;
	margin:0;
	padding:0;
	text-align:center;
	color:#525152;
	font-family:Trebuchet MS, Arial, Tahoma, sans-serif;
        font-size:9pt;
}

#Container {
    width:820px;
    background:#C6C3C6 url(bg.jpg?z=82220) repeat-y center top;
    margin:0 auto;
    text-align:left;
}

#Content {
	width: 780px;
	margin: 20px 20px 20px 20px;
}

#header {
	position: relative;
        height:151px;
	background: #caced1 url(header.jpg?z=82220) no-repeat center;
	padding: 0;
	color: #fff;
	margin-left:auto;
        margin-right:auto;
	width:820px;
        text-align:right;
}

#footer {
	color: #FFFFFF;
	background: #C6C3C6 url(footer.jpg?z=82220) no-repeat center;
	clear: both;
	width:820px;
	height: 80px;
	text-align: center;
	font-size: 8pt;
}

 #nav1 {
	clear: both;
	margin: 0 auto;
	padding: 0;
	background: #9CC3DE url(menu.jpg?z=82220) repeat-x;
	font: bold 16px/40px "Trebuchet MS", Arial, Tahoma, Sans-serif;
	height: 40px;
	width: 780px;
	border-top :0px solid #FFFFFF ;
	border-bottom : 0px solid #FFFFFF ;
}

#nav1 ul {
	float: left;
	list-style: none;
	margin:0;
	padding: 0 ;
}

#nav1 ul li {
	display: inline;
}

#nav1 ul li a {
	display: block;
	float: left;
	padding: 0 14px;
	color: #FFFFFF;
	text-decoration: none;
	text-align:center;
	border-right: 1px solid #bae1fc ;
}

#nav1 ul li a.current {
	background-color:#9CC3DE;
	color: #FFFFFF;
}

#nav1 ul li a:hover {
	background: #222222 url( selectedMenu.jpg?z=82220 ) repeat-x;
	color: #FFFFFF;
}

#loginHeader {
    color: #fff;
    margin-right: 23px;
    padding-top: 135px
}

#loginHeader a, a:visited {
    color:#9CC3DE;
    text-decoration:none;
}

#loginHeader a:hover {
    color:#93C600;
    text-decoration:underline;
}

/* End added things */

.spinner {
    padding: 5px;
    position: absolute;
    right: 0;
}

a, a:visited {
	color:blue;
	text-decoration:none;
}

a:hover {
	color:#93C600;
	text-decoration:underline;
}

h1 {
    font-weight: bold;
    font-size: 16px;
    margin: .8em 0 .3em 0;
    margin-left:20px;
}

ul {
    padding-left: 15px;	
}

select, textarea {
    background-color: #fcfcfc;
    border: 1px solid #ccc;
    font: 11px verdana, arial, helvetica, sans-serif;
    margin: 2px 0;
    padding: 2px 4px;
}

select {
   padding: 2px 2px 2px 0;
}

textarea {
	width: 250px;
	height: 150px;
	vertical-align: top;
}

.body {
    float: left;
    margin: 0 15px 10px 15px;
}

.nav {
	clear: both;
	margin: 0 auto;
	padding: 0;
	background: #9CC3DE url(menu.jpg?z=82220) repeat-x;
	font: bold 16px/40px "Trebuchet MS", Arial, Tahoma, Sans-serif;
	height: 40px;
	width: 780px;
	border-top :0px solid #FFFFFF ;
	border-bottom : 0px solid #FFFFFF ;
}

.menuButton {
    font-size: 10px;
    padding: 0 5px;
}
.menuButton a {
    color: #333;
    padding: 4px 6px;
}
.menuButton a.home {
    background: url(../images/skin/house.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}
.menuButton a.list {
    background: url(../images/skin/database_table.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}
.menuButton a.create {
    background: url(../images/skin/database_add.png) center left no-repeat;
    color: #333;
    padding-left: 25px;
}

.message {
    background: #FFFFFF url(../images/skin/information.png) 8px 50% no-repeat;
    color: #006dba;
    width: 80%;
    margin: 10px 0px 5px 15px;
    padding: 7px 5px 5px 30px
}

div.errors {
    background: #DEDEDE url(../images/skin/exclamation.png) 8px 50% no-repeat;
    border: 1px solid red;
    color: #cc0000;
    margin: 10px 0px 5px 15px;
    padding: 7px 5px 5px 30px
}
div.errors ul {
    list-style: none;
    padding: 0;	
}
div.errors li {
    line-height: 16px;
}

td.errors select {
    border: 1px solid red;
}
td.errors input {
    border: 1px solid red;
}

table {
    margin-left: 20px;
    border: 1px solid #ccc;
}
tr {
    border: 0;
}
td, th { 
    font: 11px verdana, arial, helvetica, sans-serif;
    line-height: 12px;
    padding: 5px 6px;
    text-align: left;
    vertical-align: top;
}
th {
    background: #fff url(../images/skin/shadow.jpg);
    color: #666;
    font-size: 11px;
    font-weight: bold;
    line-height: 17px;
    padding: 2px 6px;
}
th a:link, th a:visited, th a:hover {
    color: #333;
    display: block;
    font-size: 10px;
    text-decoration: none;
}
th.asc a, th.desc a {
    background-position: right;
    background-repeat: no-repeat;
}
th.asc a {
    background-image: url(../images/skin/sorted_asc.gif);
}
th.desc a {
    background-image: url(../images/skin/sorted_desc.gif);
}

.odd {
    background: #f7f7f7;
}
.even {
    background: #fff;
}

.list table {
    border-collapse: collapse;
}
.list th, .list td {
    border-left: 1px solid #ddd;
}
.list th:hover, .list tr:hover {
    background: #BFD9EA;
}

.paginateButtons {
    background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
    border: 1px solid #ccc;
    border-top: 0;
    color: #666;
    font-size: 10px;
    overflow: hidden;
    padding: 10px 0px;
    margin-left: 20px;
}
.paginateButtons a {
    background: #fff;
    border: 1px solid #ccc;
    border-color: #ccc #aaa #aaa #ccc;
    color: #666;
    margin: 0 3px;
    padding: 2px 6px;
}
.paginateButtons span {
    padding: 2px 3px;
}

.dialog table {
    width: 95%;
}

.prop {
    padding: 5px;
}
.prop .name {
    text-align: left;
    width: 15%;
    white-space: nowrap;
}
.prop .value {
    text-align: left;
    width: 85%;
}

.buttons {
    background: #fff url(../images/skin/shadow.jpg) bottom repeat-x;
    border: 1px solid #ccc;
    color: #666;
    font-size: 10px;
    margin: 5px 20px 0px 20px;
    overflow: hidden;
    padding: 0;
}

.buttons input {
    background: transparent;
    border: 0;
    color: #333;
    cursor: pointer;
    font-size: 10px;
    font-weight: bold;
    margin-left: 3px;
    overflow: visible;
    padding: 2px 6px
}
.buttons input.delete {
    background: transparent url(../images/skin/database_delete.png) 5px 50% no-repeat;
    padding-left: 28px;
}
.buttons input.edit {
    background: transparent url(../images/skin/database_edit.png) 5px 50% no-repeat;
    padding-left: 28px;
}
.buttons input.save {
    background: transparent url(../images/skin/database_save.png) 5px 50% no-repeat;
    padding-left: 28px;
}

p {
    margin-left:40px;
}

input {
    margin-left:20px;
}